<div class="container">
  <div class="d-flex justify-content-center text-center">
    <div class="d-flex align-items-center" style="height:300px;">
      <div>
        <h6><strong>本当に退会しますか？</strong></h6>
        <div class="text-box mt-4" >
          <p>
            退会すると会員登録情報や<br>
            これまでの購入履歴が閲覧できなくなります。<br>
            退会する場合は、「退会する」をクリックしてください。
          </p>
        </div>
        <div class="row text-center d-flex justify-content-center mr-2">
          <%= link_to "退会しない", mypage_path, class: "btn btn-primary mr-5" %>
          <%= link_to "退会する", withdraw_path, method: :patch, class: "btn btn-danger", "data-confirm"=> "本当に退会しますか？", class: "btn btn-outline-danger" %>
        </div>
      </div>
    </div>
  </div>
</div>