<h1>aboutページ</h1>
<p>ながのCAKEは全国発送可能なケーキ。</p>
<p>
  お子様からお年寄りの方までお召し上がりいただけるよう、<br>
  様々なバリデーションをご用意しております。
</p>
<p>また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</p>
<p>ぜひ、ご注文ください。</p>
<img></img>

<h1>aboutページ</h1>
<p>ながのCAKEは全国発送可能なケーキ。<br>
  お子様からお年寄りの方までお召し上がりいただけるよう、<br>
  様々なバリデーションをご用意しております。<br>
  また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
  ぜひ、ご注文ください。</p>
<img></img>